doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    body
        block content
        script(src="javascripts/latinise.js")
        script(src="javascripts/api.js")
        script(src="javascripts/javascript.js")