doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto' type='text/css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    body
        block content
        script(src='javascripts/latinise.js')
        script(src='javascripts/api.js')
        script(src='javascripts/javascript.js')